
{% assign product = product %}

<style>
#enhanced-product-card{
    
}
</style>

<div id="enhanced-product-card">
    {% render 'enhanced-product-card-image', product: product %}
    <div class="enhanced-product-card__product-info">
        <h4>{{ product.title }}</h4>
    </div>
</div>