
{% assign product = product %}

<style>
#enhanced-product-card{

}
</style>

<a id="enhanced-product-card-{{ product.id }}" href="{{ product.url }}">
    {% render 'enhanced-product-card-image', product: product %}
    <div class="enhanced-product-card__product-info">
        <h4>{{ product.title }}</h4>
    </div>
</a>