{% assign product = product %}

<div class="enhanced-product-card__image-wrapper">
        {%- if product.featured_media.size > 1 -%}
            <div></div>
        {% else %}
            <img src="images[1]" alt="{{ product.title }}">
        {%- endif -%}
</div>