<diV>
    <div class="image-wrapper">
        {% if product.image != blank %}
          {{ product.image | image_url: width: 1600 | image_tag:
            loading: 'lazy',
            widths: [400, 800, 1200, 1600],
            sizes: '(max-width: 768px) 100vw, 50vw',
            class: 'responsive-img',
            alt: image.alt | escape
          }}
        {% endif %}
    </div>
    <span>{{ product.title }}</span>
</diV>
