<style>
.grid-for-products {
    display: grid;
    grid-template-columns: repeat(var(--products-per-grid-mobile), 1fr);
    gap: 16px;
}

@media screen and (min-width: 480px) {
    .grid-for-products {
        grid-template-columns: repeat(var(--products-per-grid-tablet), 1fr);
    }
}

@media screen and (min-width: 1440px) {
    .grid-for-products {
        grid-template-columns: repeat(var(--products-per-grid-desktop), 1fr);
    }
}

</style>

<section id="enhanced-collection-{{ collection.id }}"> 
    {% paginate collection.products by section.settings.pagination_number %}
        <div id="enhanced-collection__grid" 
            class="grid-for-products"
            style="
                --products-per-grid-mobile: {{ section.settings.products_per_grid_mobile }};
                --products-per-grid-tablet: {{ section.settings.products_per_grid_tablet }};
                --products-per-grid-desktop: {{ section.settings.products_per_grid_desktop }};
            "
        >
        {% for product in collection.products %}
                {% render 'enhanced-product-card',
                        product: product,
                %}
        {% endfor %}
        </div>
    {% endpaginate %}
</section>

{% schema %}
    {
        "name": "Enhanced Collection",
        "settings": [
            {
                "type": "number",
                "id": "pagination_number",
                "label": "Products by page",
                "default": 10,
            },
            {
                "type": "number",
                "id": "products_per_grid_mobile",
                "label": "Products per grid mobile",
                "default": 2
            },
            {
                "type": "number",
                "id": "products_per_grid_tablet",
                "label": "Products per grid tablet",
                "default": 3
            },
            {
                "type": "number",
                "id": "products_per_grid_desktop",
                "label": "Products per grid desktop",
                "default": 4
            }
        ],
        "presets": [
            {
                "name": "Enhanced Collection",
                "category": "Custom"
            }
        ]
    }
{% endschema %}