<section id="{{ section.id }}">

</section>

{% schema %}
  {
    "name": "section rendering api",
    "settings": [],
    "blocks": [],
    "presets": [
      {
        "name": "section rendering api"
      }
    ]
  }
{% endschema %}