<shop-style>
  <section id="{{ section.id }}">
    <div class="shop-style">
      <h2>{{ section.settings.title }}</h2>
      <span>{{ section.settings.subtitle }}</span>
      <div class="shop-style__display">
        {% for product in section.settings.products %}
          {{
            product.featured_image | image_url: width: 1600 | image_tag:
            loading: 'lazy',
            widths: [400, 800, 1200, 1600],
            sizes: '(max-width: 768px) 100vw, 50vw',
            class: 'responsive-img',
            alt: product.title | escape
          }}
        {% endfor %}
      </div>
      <div class="shop-style__products">
        <!-- create a snippet for the product card -->
        {% for product in section.settings.products %}
          {% render 'shop-style-card', product: product %}
        {% endfor %}
      </div>
    </div>
  </section>
</shop-style>

{% schema %}
{
  "name": "shop style",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "Shop The Full Style"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "subtitle",
      "default": "Look like a pro with the full style"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "select products"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "shop style"
    }
  ]
}
{% endschema %}
